assignments/2021282110198/2/AddService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2021/11/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://ws.bpel.cqu" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://ws.bpel.cqu">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.bpel.cqu">
            <xs:element name="addOption">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="a" type="xs:int"/>
                        <xs:element minOccurs="0" name="b" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addOptionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="addOptionRequest">
        <wsdl:part name="parameters" element="xsd:addOption"/>
    </wsdl:message>
    <wsdl:message name="addOptionResponse">
        <wsdl:part name="parameters" element="xsd:addOptionResponse"/>
    </wsdl:message>
    <wsdl:portType name="AddServicePortType">
        <wsdl:operation name="addOption">
            <wsdl:input message="xsd:addOptionRequest" wsaw:Action="urn:addOption"/>
            <wsdl:output message="xsd:addOptionResponse" wsaw:Action="urn:addOptionResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AddServiceSoap11Binding" type="xsd:AddServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="addOption">
            <soap:operation soapAction="urn:addOption" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="AddServiceSoap12Binding" type="xsd:AddServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="addOption">
            <soap12:operation soapAction="urn:addOption" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="AddServiceHttpBinding" type="xsd:AddServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="addOption">
            <http:operation location="AddService/addOption"/>
            <wsdl:input>
                <mime:content type="text/xml" part="addOption"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="addOption"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AddService">
        <wsdl:port name="AddServiceHttpSoap11Endpoint" binding="xsd:AddServiceSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/AddService"/>
        </wsdl:port>
        <wsdl:port name="AddServiceHttpSoap12Endpoint" binding="xsd:AddServiceSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/AddService"/>
        </wsdl:port>
        <wsdl:port name="AddServiceHttpEndpoint" binding="xsd:AddServiceHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/AddService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
