assignments/2021282110198/2/SubService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://ws.bpel.cqu" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://ws.bpel.cqu">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.bpel.cqu">
            <xs:element name="subOption">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="a" type="xs:int"/>
                        <xs:element minOccurs="0" name="b" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="subOptionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="subOptionRequest">
        <wsdl:part name="parameters" element="xsd:subOption"/>
    </wsdl:message>
    <wsdl:message name="subOptionResponse">
        <wsdl:part name="parameters" element="xsd:subOptionResponse"/>
    </wsdl:message>
    <wsdl:portType name="SubServicePortType">
        <wsdl:operation name="subOption">
            <wsdl:input message="xsd:subOptionRequest" wsaw:Action="urn:subOption"/>
            <wsdl:output message="xsd:subOptionResponse" wsaw:Action="urn:subOptionResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SubServiceSoap11Binding" type="xsd:SubServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="subOption">
            <soap:operation soapAction="urn:subOption" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="SubServiceSoap12Binding" type="xsd:SubServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="subOption">
            <soap12:operation soapAction="urn:subOption" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="SubServiceHttpBinding" type="xsd:SubServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="subOption">
            <http:operation location="SubService/subOption"/>
            <wsdl:input>
                <mime:content type="text/xml" part="subOption"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="subOption"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SubService">
        <wsdl:port name="SubServiceHttpSoap11Endpoint" binding="xsd:SubServiceSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/SubService"/>
        </wsdl:port>
        <wsdl:port name="SubServiceHttpSoap12Endpoint" binding="xsd:SubServiceSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/SubService"/>
        </wsdl:port>
        <wsdl:port name="SubServiceHttpEndpoint" binding="xsd:SubServiceHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/SubService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
